body{
  background: gray;
  font-family: helvetica;
  overflow:hidden;
}

.mainContent{
  background: white;
  position: absolute;
  left:0; top:0; right:0; bottom:0;
  margin: 10px;
  -webkit-box-shadow: 0px 0px 79px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 79px -9px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 79px -9px rgba(0,0,0,0.75);  
}

.page{
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    margin-left:7px; margin-right: 7px;
}

/**************** Animation related *************/
@keyframes slideInRight{
    from { transform: translateX(100%); }
    to {transform: translateX(0);}
}

@keyframes scaleUp {
	from { opacity: 1; transform: scale(1); }
	to { opacity: 0.3; transform: scale(0.8); }
}

/*--------------- Entry animations --------------*/
.ng-enter{
    animation: slideInRight 0.5s both ease-in;
    z-index: 5555;
}

/*--------------- Exit animations ---------------*/
.ng-leave{
    animation: scaleUp 0.35s both ease-in;
    z-index: 6666;
} 


