div{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
a{color:#474747;cursor:pointer;text-decoration:none;}
#sizecalculator .footer{bottom:16px;color:#4f4f4f;cursor:pointer;position:absolute;font-size:.9em;}
#us-footer{background:url(./images/sizecalculator-arrow-blk-rgt.gif) right 5px no-repeat;padding-right:10px;right:0;margin-right:10px;}
a:active,a:focus,a:hover{text-decoration:underline;}
a:active,a:focus,a:hover{color:#000;}