	<div class="footer footer-right-logo" *ngIf="region=='US'">
		<span id="us-footer"><a href="http://www.clarksusa.com/us/kids-measure-and-fit/help-and-support" target="_blank">Help &amp; Support</a></span>
	</div>