<span>
<ul>
	<li id="step1" class="step-tab tab-inactive"><a [routerLink]="['', region]" href="">Step 1 - Select your gauge</a></li>
	<li id="step2" class="step-tab tab-inactive"><a [routerLink]="['/enter-measurements', region, gaugeType]" href="">Step 2 - Enter your measurements</a></li>
	<li id="step3" class="step-tab tab-inactive green">Step 3 - Results</li>
</ul>
</span>
<div id="step3Content" class="tab-content">
	<div class="step3-left-us" *ngIf="region=='US'">
		<div class="split step3-left">
			<h2 class="step3-h2">
				Your child&#39;s Clarks shoe size is
			</h2>
			<div class="result-container">
				<div id="theresult" class="size-result">{{SizeDetails}}</div>
			</div>

			<div class="step3-help">
				If you are in any doubt about the measurements you have taken, visit a <a href="http://www.clarksusa.com/eng/storeLocator/redirect.cfm?sectionID=b2c/storeLocator/storeLocator.cfm&amp;var=d&amp;ckey=US">Clarks store</a>				and speak to one of our trained fit expert or call our Consumer Services team at 800-211-5461.</div>
		</div>
		<div class="split step3-right">
			<h2 id="step3-header2">
				Now Select
			</h2>
			<div id="btn-step3-girls">
				<a href="http://www.clarksusa.com/eng/categories/kids/girls">
					<img id="girlsShoesButton" class="size-calculator-button" src="//cms.clarksmct.com/upload/UK/StaticContent/measuring/calculator/button-girls.jpg"
					 alt="Girls shoes button"></a>
			</div>
			or
			<div id="btn-step3-boys">
				<a href="http://www.clarksusa.com/eng/categories/kids/boys">
					<img id="boysShoesButton" class="size-calculator-button" src="//cms.clarksmct.com/upload/UK/StaticContent/measuring/calculator/button-boys.jpg"
					 alt="Boys shoe button"></a>
			</div>
		</div>
	</div>


	<div class="step3-left-external" *ngIf="region!='US'">
		<h2 class="step3-h2">
			Your child&#39;s Clarks shoe size is
		</h2>
		<div class="result-container">
			<div id="theresult" class="size-result">{{SizeDetails}}</div>
		</div>
		<div class="step3-help" *ngIf="region=='AMAZON'">
			If you are in any doubt about the measurements you have taken please do not hesitate to get in touch with us through
			<a href="https://www.amazon.co.uk/ap/signin?_encoding=UTF8&amp;openid.assoc_handle=gbflex&amp;openid.claimed_id=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0%2Fidentifier_select&amp;openid.identity=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0%2Fidentifier_select&amp;openid.mode=checkid_setup&amp;openid.ns=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0&amp;openid.ns.pape=http%3A%2F%2Fspecs.openid.net%2Fextensions%2Fpape%2F1.0&amp;openid.pape.max_auth_age=900&amp;openid.return_to=https%3A%2F%2Fwww.amazon.co.uk%2Fgp%2Fhelp%2Fcontact%2Fcontact.html%3Fie%3DUTF8%26asin%3D%26isCBA%3D%26marketplaceID%3DA1F83G8C2ARO7P%26orderID%3D%26ref_%3Daag_d_sh%26sellerID%3DA2TGK1YI4HCIDF">Clarks Customer Services</a>
		</div>

		<div class="step3-shop" *ngIf="region=='UK'">
			<a target="_parent" href="/search/?q=:relevance:{{SizeType}}Size:{{SizeDetailsNoWidth}}" >Shop {{SizeType}} {{SizeDetailsNoWidth}} size shoes on our site</a>
		</div>
		<div class="step3-help" *ngIf="region=='UK'">
			If you are in any doubt about the measurements you have taken<br />speak to one of our trained members of staff in store.
		</div>
	</div>


	<a [routerLink]="['/enter-measurements', region, gaugeType]" href="">
		<div id="step3Previous" class="footer footer-left">
			Back</div>
	</a>
	<app-footer [region]="region"></app-footer>
</div>