
<span>
	<ul>
	<li id="step1" class="step-tab tab-inactive green">Step 1 - Select your gauge</li>
	<li id="step2" class="step-tab tab-inactive">Step 2 - Enter your measurements</li>
	<li id="step3" class="step-tab tab-inactive">Step 3 - Results</li>
</ul>
</span>
<div id="step1Content" class="tab-content">
	<h2>
		<span>Select which gauge you are using</span>
	</h2>
	<div class="split step1-left">
		<div class="step1-gauge">
			<a [routerLink]="['/enter-measurements', region,  'Toddler']" href=""><img src="./images/gauge-toddler.jpg" alt="Toddler Gauge" /></a>
		</div>
	</div>
	<div class="split step1-right">
		<div class="step1-gauge">
			<a [routerLink]="['/enter-measurements', region, 'Junior']" href=""><img src="./images/gauge-junior.jpg" alt="Junior Gauge" /></a>
		</div>		
	</div>
	<app-footer [region]="region"></app-footer>
</div>