/* You can add global styles to this file, and also import other style files */
div,span,h2,p,img,b,ul,li{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
ul{list-style:none;}
b{font-weight:bold;}
p{color:#474747;}
a{color:#474747;cursor:pointer;text-decoration:none;}
p a{font-weight:bold;}
#sizecalculator .split{display:block;float:left;text-align:center;}
#sizecalculator .step-tab{border:1px solid #fff;color:#fff;display:block;float:left;font-size:small;font-weight:700;text-align:center;padding-top:8px;padding-bottom:8px;}
#sizecalculator .tab-container{border:2px solid #e3e3e3;position:relative;max-width:931px;width:100%;padding:0;}
#sizecalculator .tab-inactive{background-color:#e3e3e3;color:#aeaeae;}
#sizecalculator .yellow{background-color:#fcbd1c;color:#fff;}
#sizecalculator .green{background-color:#2a4230;color:#fff;}
#sizecalculator .tab-content{display:block;font-size:small;font-weight:700;line-height:1.2em;margin:23px 0 0;padding:23px;}
#sizecalculator .footer{bottom:16px;color:#4f4f4f;cursor:pointer;position:absolute;font-size:.9em;}
#sizecalculator .footer-right-logo{padding-right:0;right:0;margin-right:2px;margin-bottom:-6px;}
#sizecalculator .footer-left{background:url(./images/sizecalculator-arrow-blk-lft.gif) 0 5px no-repeat;padding-left:10px;left:0;margin-left:10px;}
#sizecalculator .tab-content h2{color:#4f4f4f;font-size:1.3em;margin-left:auto;margin-right:auto;text-align:center;width:80%;height:auto}
#sizecalculator .text-input{font-weight:normal;vertical-align:top;margin:4px;-moz-border-radius:3px;-moz-box-shadow:inset 0 1px 3px rgba(0,0,0,.1);-moz-transition:border linear .2s box-shadow linear .2s;-o-transition:border linear .2s box-shadow linear .2s;-webkit-border-radius:3px;-webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,.1);-webkit-transition:border linear .2s box-shadow linear .2s;border:1px solid #ccc;border-radius:3px;box-shadow:inset 0 1px 3px rgba(0,0,0,.1);color:#aeaeae;font-size:1.1em;text-align:center;transition:border linear .2s box-shadow linear .2s;width:130px;padding:10px 4px 10px 4px;}
#sizecalculator .error-sizecalculator{color:red;font-weight:400;text-align:center;padding:14px;width:70%;margin-left:auto;margin-right:auto;}
#sizecalculator .error-sizecalculator a{color:red;}
#sizecalculator .step1-gauge{margin-top:-13px;}
#sizecalculator .step3-h2{width:80%;height:45px;text-align:center;margin-left:auto;margin-right:auto;}
#sizecalculator .step3-left-external{width:100%;text-align:center;padding-top:10px;}
#sizecalculator .result-container{width:100%;margin:20px 0;text-align:center;}
#sizecalculator .result-container .size-result{font-weight:normal;vertical-align:top;margin:4px;-moz-border-radius:3px;-moz-box-shadow:inset 0 1px 3px rgba(0,0,0,.1);-moz-transition:border linear .2s box-shadow linear .2s;-o-transition:border linear .2s box-shadow linear .2s;-webkit-border-radius:3px;-webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,.1);-webkit-transition:border linear .2s box-shadow linear .2s;border:1px solid #ccc;border-radius:3px;box-shadow:inset 0 1px 3px rgba(0,0,0,.1);color:#aeaeae;font-size:1.1em;text-align:center;transition:border linear .2s box-shadow linear .2s;width:130px;padding:10px 4px 10px 4px;font-size:2em;font-weight:bold;min-width:5%;color:#4f4f4f;margin-left:auto;margin-right:auto;padding:10px;max-width:65%;width:auto;display:inline;}
#sizecalculator .step2-inputs{padding-top:20px;text-align:center;}
#sizecalculator .size-calculator-button{cursor:pointer;padding-top:6px;}
#sizecalculator .button-junior{display:none;position:absolute;top:44px;left:299px;}
#sizecalculator .button-toddler{display:none;position:absolute;top:44px;left:320px;}
#sizecalculator .gauge-toddler-image{padding-left:75px;}
#sizecalculator .step3-help{width:440px;margin-right:auto;margin-left:auto;padding-top:10px;}
#sizecalculator .step3-shop{width:440px;margin-right:auto;margin-left:auto;padding-top:10px;}
.body-external #sizecalculator.amazon img.footer-right-logo{cursor:default;}
a:active,a:focus,a:hover{text-decoration:underline;}
a:active,a:focus,a:hover{color:#000;}
#tabs{clear:both; font-family: Arial,Helvetica,sans-serif}
.body-external #external #sizecalculator{padding:10px;}
.body-external #external #sizecalculator .tab-container{width:98%;max-width:930px;margin:0;}
.body-external #external #sizecalculator #tabs ul{margin-left:0px;}
.body-external #external #sizecalculator .step-tab{border-right:0px;width:33.2%;margin:0;padding:10px 0;border:none;}
.body-external #external #sizecalculator #step2{margin:0 0.2% 0 0.2%;}
.body-external #external #sizecalculator .tab-content{display:inline-block;margin:0;height:auto;width:100%;padding:0%;}
.body-external #external #sizecalculator .tab-content h2{background-image:none;height:auto;padding:10px 0;line-height:25px;}
.body-external #external #sizecalculator .split{width:50%;height:auto;padding:0;margin:0;}
.body-external #external #sizecalculator .step1-gauge{margin-top:0;}
.body-external #external #sizecalculator .step1-gauge img{padding:0;float:left;width:72%;}
.body-external #external #sizecalculator .button-toddler{position:relative;left:0;}
.body-external #external #sizecalculator .button-junior{position:relative;left:0;}
.body-external #external #sizecalculator .error-sizecalculator{width:80%;}
.body-external #external #sizecalculator .step3-help{width:80%;}
.body-external #external #sizecalculator .footer-right-logo{position:relative;float:right;padding-top:35px;}

@media (min-width: 790px){
#sizecalculator .split{width:44%;height:118px;margin:25px 5px 5px;padding:5px 5px 5px 21px;}
#sizecalculator .tab-content{height:183px}
#sizecalculator .tab-content h2{padding-top:1px;line-height:25px;}
#sizecalculator .step1-left{position:relative;padding-left:35px;}
#sizecalculator .step1-right{position:relative;}
#sizecalculator .step3-help{width:440px;}
#sizecalculator .step3-shop{width:440px;}
}

@media (min-width: 790px) and (max-width: 869px) {
#sizecalculator .step-tab{width:33%;}
}

@media (min-width: 870px) {
#sizecalculator .step-tab{width:33.1%;}
}

@media (max-width: 790px){
#sizecalculator .step-tab{width:100%;}
#sizecalculator .split{width:100%;height:auto;margin:auto;padding:2px 2px 2px 2px;}
#sizecalculator .tab-content{height:360px}
#sizecalculator .tab-content h2{padding:10px 0;line-height:25px;}
#sizecalculator .step1-left{padding-top:0;position:relative}
#sizecalculator .step1-right{padding:0;position:relative;}
#sizecalculator .step3-help{width:90%;}
#sizecalculator .step3-shop{width:90%;}
}