<span>
<ul>
	<li id="step1" class="step-tab tab-inactive"><a [routerLink]="['', region]" href="">Step 1 - Select your gauge</a></li>
	<li id="step2" class="step-tab tab-inactive green">Step 2 - Enter your measurements</li>
	<li id="step3" class="step-tab tab-inactive">Step 3 - Results</li>
</ul>
</span>
<div id="step2Content" class="tab-content">
	<h2>
		Enter the largest measurements for both length and width, then click Calculate
	</h2>
	<div class="step2-inputs">
		<p>
			<input id="length" type="number" min="0" max="999" tabindex="1" name="txtLength" class="text-input" [(ngModel)]="size.length" placeholder="length mm" (keyup.enter)="calculateShoeSize(size.length,size.width)"
			/>
			<input id="width" type="number" min="0" max="999"  tabindex="2" name="txtWidth" class="text-input" [(ngModel)]="size.width" placeholder="width mm"  (keyup.enter)="calculateShoeSize(size.length,size.width)"
			/>
			<a (click)="calculateShoeSize(size.length,size.width)" (keyup.enter)="calculateShoeSize(size.length,size.width)" tabindex="3"><img id="submitbutton" class="size-calculator-button" src="./images/button-calculate.jpg" alt="Calculate" /></a>
		</p>
		<span *ngIf="showError"><app-error-sizecalculator [region]="region" ></app-error-sizecalculator></span>
	</div>
	<a [routerLink]="['', region]" href="">
		<div id="step2Previous" class="footer footer-left">
			Back
		</div>
	</a>
	<app-footer [region]="region"></app-footer>
</div>