<div class="error-sizecalculator">
	<p class="error-sizecalculator" *ngIf="region=='US'">The measurements entered are out of the Clarks Kids sizing range. Please refer to our <a href="http://www.clarksusa.com/eng/aboutus/kmf_at_home.cfm"
		 target="_blank">Measure &amp; Fit at Home online instructions</a>. If you consistently get this message, we recommend you
		visit your nearest store for a consultation with a trained fit expert, or call our Consumer Services Team for assistance
		at 800-211-5461 (8-8 EST M-F, 10-4 EST Saturdays).</p>
	<p class="error-sizecalculator" *ngIf="region=='AMAZON'">Measurements are out of range. If you consistently get this message we recommend you contact us through<a href="https://www.amazon.co.uk/ap/signin?_encoding=UTF8&amp;openid.assoc_handle=gbflex&amp;openid.claimed_id=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0%2Fidentifier_select&amp;openid.identity=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0%2Fidentifier_select&amp;openid.mode=checkid_setup&amp;openid.ns=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0&amp;openid.ns.pape=http%3A%2F%2Fspecs.openid.net%2Fextensions%2Fpape%2F1.0&amp;openid.pape.max_auth_age=900&amp;openid.return_to=https%3A%2F%2Fwww.amazon.co.uk%2Fgp%2Fhelp%2Fcontact%2Fcontact.html%3Fie%3DUTF8%26asin%3D%26isCBA%3D%26marketplaceID%3DA1F83G8C2ARO7P%26orderID%3D%26ref_%3Daag_d_sh%26sellerID%3DA2TGK1YI4HCIDF"> Clarks Customer Services</a></p>
	<p class="error-sizecalculator" *ngIf="region=='UK'">Measurements are out of range. Please refer to online instructions. If you consistently get this message we recommend you
		visit your nearest Clarks stockist for a professional measuring service and speak to one of our trained members of staff</p>
	<p class="error-sizecalculator" *ngIf="region=='EU'">Measurements are out of range. Please refer to online instructions. If you consistently get this message we recommend you
		visit your nearest Clarks stockist for a professional measuring service and speak to one of our trained members of staff</p>
</div>